{% load static %} {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <title>Register</title>
  </head>
  <body>
    {% block content %} {% endblock content %}

    <section class="">
      <div
        class="px-4 py-5 px-md-5 text-center text-lg-start"
        style="background-color: hsl(0, 0%, 96%)"
      >
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h3 class="my-5 display-3 fw-bold ls-tight">
                Ready to Ignite Your Passion? <br />
                <span class="text-primary">Sign Up Now and Let's Get Started!</span>
              </h3>
              <p style="color: hsl(217, 10%, 50.8%)">
                Unleash Your Thoughts, Join the Fury's Blog Community Today
              </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <form method="POST">
                    {% csrf_token %} {% bootstrap_form RegisterForm %}
                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-block mb-4"
                    >
                      Sign up
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
